<%= form_with(model: plane_book, local: true) do |form| %>
  <h1>ADD ANOTHER PASSENGER: </h1>
  <% if plane_book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plane_book.errors.count, "error") %> prohibited this plane_book from being saved:</h2>

      <ul>
      <% plane_book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <span class="hidden"><%= form.hidden_field :f_id, value: flash[:f_id] %> </span>
  <div class="field">
    <%= form.label :pass_name %>
    <%= form.text_field :pass_name %>
  </div>

  <div class="field">
    <%= form.label :pass_email %>
    <%= form.text_field :pass_email %>
  </div>

  <div class="actions">
    <%= form.submit "Add Passenger", :class => "button btn btn-default" %>
  </div>
<% end %>
